
@import "./reset.css";
:root {
  --background-body-color: black;
  --font-color:white;
  --border-color:white;
  --box-color:rgba(39, 35, 35, 0.986);
  --img-background:black;
  --box-shadow:wheat;
  --author-color:rgb(43, 173, 216);
  --border-line-color:white;
}

[data-theme="lite"] {
  --background-body-color: wheat;
  --font-color:black;
  --border-color:black;
  --box-color:rgb(31, 247, 157);
  --img-background:wheat;
  --box-shadow:rgb(31, 247, 157);
  --author-color:black;
}

body{
  background-color: var(--background-body-color);
}

/* CSS FOR HEADER AREA */
.mainheading{
  color: var(--font-color);
  font-size: 31px;
  font-family: 'Trebuchet MS';
  border: var(--border-color) 1px solid;
  margin-left: 40%;
  padding: 10px;
  padding-left: 23px;
  padding-right: 23px;
  display: inline-block;
}

.toggletxt{
  color: var(--font-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 16%;
  display: inline-block;
}

#toggle_action{
  display: none;
}

/* CSS FOR ROUNDED SLIDE BARS */
.switch{
  margin-top: 25px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: wheat;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(39, 35, 35, 0.986);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px;
          box-shadow: 0 0 1px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* CSS FOR SEARCH BAR */
.search-bar{
  margin-top: 4%;
  margin-left: 5%;
  margin-bottom: 70px;
}

#search{
  width: 92%;
  height: 30px;
  background-color: var(--background-body-color);
  font-size: large;
  padding: 20px;
  font-size: 30px;
  color: var(--font-color);
  border-top: black;
  border-left: black;
  border-right: black;
}

/* CSSS FOR NEW AREA */
#news-articles{
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container{
  max-width: 265px;
  border: black 10px solid;
  height: 530px;
  padding: 35px;
  margin-left: 9px;
  background-color: var(--box-color);
  margin-bottom: 20px;
  border-radius: 18px;
  padding-right: 30px;
}

.article{
  list-style-type: none;
  display: inline;
}

.container:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0 0 5px var(--box-shadow);
          box-shadow: 0 0 5px var(--box-shadow);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.img-area{
  width: 265px;
  height: 250px;
  background-color: var(--img-background);
}

.article-img{
  margin-top: 20px;
  width: 265px;
  height: 205px;
}
img{
  width: 265px;
  height: 205px;
}

.article-title{
  background: none;
  font-family: sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.article-description{
  font-size: 25px;
  color: var(--font-color);
  background: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: sans-serif;
}

.article-author{
  background: none;
  font-size: 25px;
  font-family: Trebuchet MS;
  color: var(--author-color);
  display: block;
  text-align: right;
}

.article-link{
  color: var(--font-color);
  text-decoration: none;
}

.not-found{
  color: var(--font-color);
  font-family: sans-serif;
  font-size: 35px;
  margin-left: 25px;
  list-style-type: none;
}

.article-description{
  color: var(--font-color);
  font-family: sans-serif;
  font-size: 35px;
  margin-left: 25px;
}

/* Responsive Web design for small devices*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mainheading {
    color: var(--font-color);
    font-size: 25px;
    font-family: 'Trebuchet MS';
    border: white 1px solid;
    margin-left: 10%;
    margin-top: 4%;
    padding: 10px;
    padding-left: 23px;
    padding-right: 23px;
    display: inline-block;
  }
  .toggletxt {
    color: var(--font-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin-top: 7%;
    font-size: larger;
  }
  .switch {
    margin-left: 135px;
  }
  .search-bar {
    width: 580px;
    margin: 0px;
    padding: 0px;
  }
  #search {
    width: 55%;
    height: 20px;
    background-color: var(--background-body-color);
    margin-left: 2%;
    padding: 20px;
    font-size: 20px;
    color: var(--font-color);
    border-top: black;
    border-left: black;
    border-right: black;
  }
  .container {
    max-width: 240px;
    border: black 10px solid;
    height: 550px;
    padding: 35px;
    background-color: var(--box-color);
    margin-bottom: 20px;
    border-radius: 18px;
    padding-right: 30px;
    margin-left: -18px;
    margin-top: 10px;
  }
  #news-articles {
    margin-left: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .not-found {
    color: var(--font-color);
    font-family: sans-serif;
    font-size: 25px;
    margin-left: -20px;
    list-style-type: none;
  }
  .load {
    color: var(--font-color);
    font-family: sans-serif;
    font-size: 25px;
    margin-left: 25px;
  }
  .article {
    list-style-type: none;
    display: inline-block;
    margin-left: -14px;
  }
  .img_area {
    width: 265px;
    height: 250px;
    background-color: var(--img-background);
  }
  .article-img {
    margin-top: 20px;
    width: 265px;
    height: 205px;
  }
}

